@import "@mantine/notifications/styles.css";

:root {
	body {
		/* background-color: var(--mantine-color-violet-4);
		color: #fff; */
	}
	@mixin light {
		--mantine-color-body: var(--mantine-color-violet-3);
	}

	@mixin dark {
		--mantine-color-body: var(--mantine-color-violet-8);
	}
}
